# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
csv_builder/Eduardo Barreto/AppData/Local/Temp/tmp-7852QhLLhKKvqcL4.json
csv_builder/Eduardo Barreto/AppData/Local/Temp/tmp-7852QNgpePBk18cg.json
Eduardo Barreto/AppData/Local/Temp/tmp-3176EstHdbgeYJ7e.json
Eduardo Barreto/AppData/Local/Temp/tmp-3176pEdkH69hST1Z.json
Eduardo Barreto/AppData/Local/Temp/tmp-4880fDluxMOL4Dze.json
Eduardo Barreto/AppData/Local/Temp/tmp-4880fDOIxHalA2mP.json
Eduardo Barreto/AppData/Local/Temp/tmp-4880gQkmhVxWa89F.json
Eduardo Barreto/AppData/Local/Temp/tmp-4880hn44pXZtV4kw.json
Eduardo Barreto/AppData/Local/Temp/tmp-4880Ko8CD12CYX8N.json
Eduardo Barreto/AppData/Local/Temp/tmp-4880L4HmsUV9Htxc.json
Eduardo Barreto/AppData/Local/Temp/tmp-4880PAhAMtNbB792.json
Eduardo Barreto/AppData/Local/Temp/tmp-4880YJl0w9h0ANsN.json
Eduardo Barreto/AppData/Local/Temp/tmp-7852apW7s4vBpOnl.json
Eduardo Barreto/AppData/Local/Temp/tmp-7852BIJl2cJvPKQd.json
Eduardo Barreto/AppData/Local/Temp/tmp-7852c7eiBs0a2WuB.json
Eduardo Barreto/AppData/Local/Temp/tmp-7852d5P5wjdMHa35.json
Eduardo Barreto/AppData/Local/Temp/tmp-7852DXHH3mORwlnq.json
Eduardo Barreto/AppData/Local/Temp/tmp-7852fFkqF8ydbrpu.json
Eduardo Barreto/AppData/Local/Temp/tmp-7852j37mOIlpij07.json
Eduardo Barreto/AppData/Local/Temp/tmp-7852LbgaWHV3cjAs.json
Eduardo Barreto/AppData/Local/Temp/tmp-7852mjwsc0UffSCt.json
Eduardo Barreto/AppData/Local/Temp/tmp-7852sU1rfzhvL63E.json
Eduardo Barreto/AppData/Local/Temp/tmp-7852tssW0ypoSlJ7.json
Eduardo Barreto/AppData/Local/Temp/tmp-7852WC6pULTlpsL3.json
Eduardo Barreto/AppData/Local/Temp/tmp-11368EPuCQK2rtnsF.json
Eduardo Barreto/AppData/Local/Temp/tmp-11368USHGt2qgrrbd.json
Eduardo Barreto/AppData/Local/Temp/tmp-11368YD1oAvvE3jVK.json
Eduardo Barreto/AppData/Local/Temp/tmp-13884IqN67bcF2t1g.json
Eduardo Barreto/AppData/Local/Temp/tmp-13884oV5uWGXTSRZl.json
Eduardo Barreto/AppData/Local/Temp/tmp-16300HD5k4SQYuznR.json
Eduardo Barreto/AppData/Local/Temp/tmp-16300LEzGqxSpGnCE.json
Eduardo Barreto/AppData/Local/Temp/tmp-48800BNKx92HgaMo.json
Eduardo Barreto/AppData/Local/Temp/tmp-48802H7oVGbunOBn.json
Eduardo Barreto/AppData/Local/Temp/tmp-48802YO42louV4Sg.json
Eduardo Barreto/AppData/Local/Temp/tmp-78520ieCpe4pJOt6.json
Eduardo Barreto/AppData/Local/Temp/tmp-78522so9zRF57Q51.json
Eduardo Barreto/AppData/Local/Temp/tmp-138845FHBCA1wMod4.json
Eduardo Barreto/AppData/Local/Temp/tmp-138846W8F5q8BXv3D.json
Eduardo Barreto/AppData/Local/Temp/tmp-488021MEF2Jltfis.json
Eduardo Barreto/AppData/Local/Temp/tmp-785205lQpYScqcED.json
